.king-hippo {
  display: block;
  margin: 10vh auto 2em;
  /*max-height: 50vh;*/
  max-width: 20em;
  width: 40vmin;

  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;

  -webkit-filter: drop-shadow(1px 1px 0px #5C7080);
  -moz-filter: drop-shadow(1px 1px 0px #5C7080);
  filter: drop-shadow(1px 1px 0px #5C7080);
}

.broken-io {
  color: #BFCCD6;

  h3 {
    color: #fff;
    margin-bottom: calc(1em + 2vmin);
  }
  span {
    color: #fff;
  }

  h3 small {
    margin-top: 0.5em;
  }

  small {
    display: block;
    margin: 0;
    font-size: 0.75em;
  }
  small + small {
    font-weight: 400;
    color: #5C7080;
    font-size: 0.5em;
  }
}

